
<% if(locals.user) {%>
<div id="chatbox">
   <div class="chat-header">
          Chat
          <img
            src="https://www.iconsdb.com/icons/preview/white/minus-5-xxl.png"
            alt=""
            height=17px
          >
        </div>
    <ul id="messages">
      <li class="other-message"><span>Other message</span></li>
      <li class="user-message"><span>Self message</span></li>
    </ul>
    <form>
    <input id="msg" type="text" name="text" placeholder="Type message here...">
    <button id="btn" style="background-color: green; color: white;">Send</button>
    </form>

</div>
<% }%>