<link rel="stylesheet" href="<%=assetPath('css/chatbox.css')%>">
<% if(locals.user) {%>
<div id="chatbox"  style="height: 400px; width: 350px;">
   <div class="chat-header">
          Chat
          <i class="fa fa-commenting" aria-hidden="true"></i>
          <!-- <img
            src=""
            alt=""
            height=17px
          /> -->
        </div>
    <ul id="messages">
      <li class="other-message"><span>Other message</span></li>
      <li class="user-message"><span>Self message</span></li>
    </ul>
    <form>
    <input id="msg" type="text" name="text" placeholder="Type message here...">
    <button id="btn" style="background-color: green; color: white;">Send</button>
    </form>

</div>
<% }%>