        <h1><%= title %></h1>
        <form action="">
          <label for="username" > UserName</label>
          <input id="username" name="username" placeholder="something@abc" required >
           <label for="password"> Password</label> 
           <input id="password" name="password" placeholder="enter password" required>
           <label for="name"> Name</label> 
           <input id="Name" name="name" placeholder="enter your name" required>

           <button type="submit">SIGN UP</button>
        </form>
          