<link rel="stylesheet" href="../css/usreprofile.css">

<h1><%= title %></h1>
<form action="">
  <label for="username" > UserName</label>
  <input id="username" name="username" placeholder="something@abc" required >
   <label for="password"> Password</label> 
   <input id="password" name="password" placeholder="enter password" required>
   <button type="submit">SIGN UP</button>
</form>

       