   
<h1><%= title %></h1>
<form action="/users/create-session" Method="POST">
  <label for="username" > UserName</label>
  <input id="username" type="email" name="email" placeholder="something@abc" required >
   <label for="password"> Password</label> 
   <input id="password" type="password" name="password" placeholder="enter password" required>
   <button type="submit">SIGN IN</button>
</form>
<p>
  <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>