<h1><%= title %></h1>

<form action="/users/create" Method="POST">
   <label for="username" > UserName</label>
   <input id="username" type="email" name="email" placeholder="something@abc" required >

    <label for="password"> Password</label> 
    <input id="password" type="password" name="password" placeholder="enter password" required>

    <label for="password">Confirm Password</label> 
    <input id="password" type="password" name="confirm_password" placeholder="Confirm password" required>

    <label for="name"> Name</label> 
    <input id="Name" type="text" name="name" placeholder="enter your name" required>

    <button type="submit">SIGN UP</button>
 </form>
      