footer {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  color: white; }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    list-style: none; }
    footer ul li a {
      text-decoration: none;
      color: white; }
