#chatbox{
    display: flex;
    flex-direction: column;
    z-index:1;
    height:400px;
    width:350px;
    border:1px solid gray;
    position:fixed;
    bottom: 10px;
    right: 10px;
    background: white;
	padding: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
        .chat-header {
        	font-size: 20px;
        	padding: 10px;
        	background: #6200ee;
        	color: #fff;
        	height: 43px;
        	box-sizing: border-box;
        	display: flex;
        	align-items: center;
        	justify-content: space-between;
        	img {
        		&:hover {
        			cursor: pointer;
        		}
        	}
        }
       #messages{
             position:relative;
             overflow: auto;
             list-style: none;
         .other-message{
            text-align: left;
		    padding: 2px;
		    span{
		    	display: inline-block;
	    		padding: 15px;
                background-color: #ffa0a0;
                border-radius: 10px;
		    }
         }
         .user-message{
            text-align: right;
		    padding: 5px;
		    span{
		    	 
	    		display: inline-block;
	    		padding: 15px;
    			background-color: #a0dcff;
		    }
         }
       }
       form{
           position: absolute;
           display: flex;
           flex-direction: row;
           bottom:0px;
              #msg{
                  flex-grow:4;
              }
              #btn{
                  flex-grow:2;
              }
       }
}