footer{
    display: flex; 
    flex-direction: row;
    background-color: #6200ee;
    color: white;
    position: relative;
    bottom:0px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        list-style: none;
        li a{
            text-decoration: none;
            color: white;
        }
    }
}