#home-container{
    padding: 20px 50px;
	display: flex;
	width: 80%;
	margin: 0 auto;
	height: auto;
    #feed-posts{
        width:70%;
        padding:10px;
        .create-post {
		background: white;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-radius: 4px;
		min-width: 60%;
		  form .fileinputs {
            position: relative;
        
           div.fakefile 
           {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            }

            input.file
            {
            position: relative;
            text-align: right;
            // filter:alpha(opacity 0);
            opacity: 0;
            z-index: 2;
            }
        }

    }
		div {
			padding: 10px;
			border-top: 1px solid #d0d0d0;
			display: flex;
			justify-content: flex-end;
		}
		textarea {
			height: 90px;
			padding: 10px;
			width: 100%;
			box-sizing: border-box;
			font-size: 15px;
			border: none;
			resize: none;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			&:focus {
				outline: none;
			}
		}
	}
#add-post-btn {
	width: 112px;
	height: 42px;
	left: 111.5px;
	top: 0px;
	background: #ef7917;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}

    // #user-friends{
    //     width:30%;
    //     padding:10px;
    //     border-left: 2px solid lightgrey;
    //     height:100%;
    // }
   
	.posts-list {
		max-width:60%;
	}

.friends-list {
	background: #fff;
	margin-left: 50px;
	flex-grow: 0.2;
	height: 50vh;
	box-sizing: border-box;
	margin-top: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	overflow-y: scroll;
	.header {
		border-bottom: 1px solid #e0e0e0;
		font-weight: 600;
		font-size: 16px;
		color: #424242;
		padding: 20px;
	}
	.friends-item {
		.friends-img {
			img {
				height: 40px;
			}
		}
		display: flex;
		align-items: center;
		padding: 5px 10px;
		color: #616161;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			background-color: #f1f1f1;
		}
		.friends-name {
			padding: 0 10px;
		}
	}
}
.no-friends {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}
 
}